tensorflow==1.15.4
scikit-learn==0.20.3
absl-py==0.7.1
astor==0.7.1
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
Markdown==3.1
mnist==0.2.2
mock==3.0.4
numpy==1.16.3
pika==1.0.1
protobuf==3.7.1
PyYAML==5.4
scipy==1.2.1
six==1.12.0
tensorboard==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
Werkzeug==0.15.3
xgboost==0.82
